<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Experience Experience</title>
      {{ "assets/css/app.css" | asset_url | stylesheet_tag }}
      {{ "assets/css/landing.css" | asset_url | stylesheet_tag }}
      <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
      <script src="{{ "modernizr.js" | asset_url }}"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
    {% include "scripts" %}
  </body>
</html>