{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <div class="title">
        <h2 class="show-for-medium-up">
          <span class="strike-center">     </span>
          The Experience Experience 
          <span class="strike-center">     </span>
        </h2>
        <h2 class="show-for-small-only">
          <span class="strike-center">   </span>
          The Experience Experience 
          <span class="strike-center">   </span>
        </h2>
        <h3>Summer 2015</h3>
      </div>
    </div>
  </div>
{% endblock %}