{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <div class="title">
        <h2 class="show-for-medium-up">
          <span class="strike">               </span>
          The Experience Experience 
          <span class="strike">               </span>
        </h2>
        <h2 class="title show-for-small-only">
          <span class="strike">   </span>
          The Experience Experience 
          <span class="strike">   </span>
        </h2>
        <h3>Coming Soon</h3>
      </div>
    </div>
  </div>
{% endblock %}