{% block content %}

  <div class="row">
    <div class="small-12 columns">
      <div class="title">
        <h2 class="show-for-medium-up text-center">
          <span class="strike-center">                    </span>
          The Experience Experience 
          <span class="strike-center">                    </span>
        </h2>
        <h4 class="show-for-small-only text-center">
          <span class="strike-center">   </span>
          The Experience Experience 
          <span class="strike-center">   </span>
        </h4>
        <h3 class="show-for-medium-up text-center">Summer 2015</h3>
        <h5 class="show-for-small-only text-center">Summer 2015</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <input id="email_input" type="email" placeholder="Please enter your email" spellcheck="false" value="" maxlength="255" tabindex="1"/>
    <input id="fire_submit" class="button" type="submit" value="Firebase"/>
    <div id="alert_placeholder"></div>
  </div>

{% endblock %}