{% block content %}

  <div class="row">
    <div class="title">
      <h2 class="text-center line-behind">
        <span>
          The Experience Experience
        </span>
      </h2>
      <h3 class="text-center">Summer 2015</h3>
    </div>
  </div>

  <div class="row">
    <div class="form-wrapper">
      <input id="email_input" class="email-input" type="email" placeholder="Please enter your email" spellcheck="false" value="" maxlength="255" tabindex="1"/>
      <a id="fire_submit" class="email-form-submit">
        <span class="foundicon-mail"></span>
      </a>
      <div id="alert_placeholder"></div>
    </div>
  </div>

{% endblock %}