{% block content %}

  <div class="row">
    <div class="title">
      <h2 class="text-center line-behind">
        <span>
          The Experience Experience
        </span>
      </h2>
      <h3 class="text-center">Summer 2015</h3>
    </div>
  </div>

  <div class="row">
    <input id="email_input" type="email" placeholder="Please enter your email" spellcheck="false" value="" maxlength="255" tabindex="1"/>
    <input id="fire_submit" class="button" type="submit" value="Firebase"/>
    <div id="alert_placeholder"></div>
  </div>

{% endblock %}