{% block content %}

  <div class="row">
    <div class="title">
      <h1 class="text-center">
          The Experience Experience
      </h1>
      <h3 class="text-center line-behind">
        <span>
          Made for an Altered State
        </span>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="email-center">
      <div class="form-wrapper">
        <input id="email_input" class="email-input" type="email" placeholder="Please enter your email" spellcheck="false" value="" maxlength="255" tabindex="1"/>
        <a id="fire_submit" class="email-form-submit">
          <span class="foundicon-mail"></span>
        </a>
      </div>
      <div id="alert_placeholder"></div>
    </div>
  </div>

{% endblock %}